<template>
    <div class="row mt-20">
      <notifications group="general"/>
      <div class="col-md-6">
        <label class="label-text">Session Name</label>
        <b-form-input v-model="sessionName"
                      type="text"
                      placeholder="Type session name"></b-form-input>
      </div>
      <div class="col-md-6">
        <label class="label-text">Number of voters</label>
        <b-form-input v-model="numberOfVoters"
                      type="number" min="1"
                      placeholder="Type number of voters"></b-form-input>
      </div>
      <div class="col-md-12 mt-20">
        <label class="label-text">
          Paste your story list (Each line will be converted as a story)
        </label>
        <b-form-textarea id="textarea1"
                         v-model="storyList"
                         placeholder="Enter stories"
                         :rows="10"
                         :max-rows="6">
        </b-form-textarea>
      </div>
      <div class="col-md-3 offset-md-9 mt-20 ar">
        <b-button v-on:click="startSession">
          Start Session
        </b-button>
      </div>
      <div class="col-md-9">
        <br>
      </div>
      <div class="col-md-3 ar">
        <br>
        <strong>{{userSession.user.username}}</strong><br>
        <a class="session-link" v-on:click="logOut">Log out</a>
      </div>
    </div>
</template>

<script>
import constants from '../constants';

export default {
  name: 'AddStoryList',
  created() {
    if (localStorage.getItem('user_session') && JSON.parse(localStorage.getItem('user_session')).user.auth_level === 2) {
      this.userSession = JSON.parse(localStorage.getItem('user_session'));
    } else {
      localStorage.removeItem('user_session');
      this.$router.push('/login');
    }
  },
  data() {
    return {
      sessionName: '',
      numberOfVoters: 1,
      storyList: '',
      userSession: {},
    };
  },
  methods: {
    startSession() {
      if ((this.numberOfVoters < 1 || this.numberOfVoters === '') || (this.sessionName === '' || this.sessionName.length > 200) || (this.storyList === '')) {
        this.$notify({
          type: 'error',
          title: 'Error',
          text: 'All fields must filled, session name must be lower than 200 characters and number of voters must be greater than 0.',
          group: 'general',
        });
      } else {
        let stories = this.storyList.split('\n');
        /* eslint-disable-next-line */
        stories = stories.map((s) => {
          return { name: s, votes: [] };
        });
        this.$http.post(`${constants.apiAddr}/sessions`,
          { name: this.sessionName, numberOfVoters: this.numberOfVoters, stories },
          { headers: { token: this.userSession.token.token },
          })
          .then((response) => {
            if (response.status === 200) {
              /* eslint-disable-next-line */
              this.$router.push(`/poker-planning-view/${response.body._id}`);
            }
          });
      }
    },
    logOut() {
      localStorage.removeItem('user_session');
      this.$router.push('/login');
    },
  },
};
</script>

<style scoped>
.mt-20 {
  margin-top:20px;
}
.ar {
  text-align: right;
}
.session-link {
  cursor:pointer;
}
</style>
