<template>
  <div class="login-wrapper">
    <notifications group="general"/>
    <div class="row">
      <div class="col-md-6 offset-md-3 tac">
        <h2>Welcome</h2>
        <label>Username</label>
        <b-form-input v-model="username"
                      type="text"
                      placeholder="Type your username"></b-form-input>
        <label class="mt-10">Password</label>
        <b-form-input v-model="password"
                      type="password"
                      placeholder="Type your password"></b-form-input>
        <b-button v-on:click="logIn" class="login-btn mt-10">
          Login
        </b-button>
        <hr>
        <b-alert show variant="info"><strong>Description</strong> <br>If you haven't account just write username and password <br>and we'll create new one for you.<br>For access session screen you need to come here with session link, <br> if you haven't one please contact your scrum master and get session link.</b-alert>
      </div>
    </div>
  </div>
</template>

<script>
import constants from '../constants';

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
    };
  },
  methods: {
    /* eslint-disable-next-line */
    logIn: function () {
      const username = this.username;
      const password = this.password;
      // try to login with current credentials
      this.$http.post(`${constants.apiAddr}/auth/login`, { username, password })
        .then((loginResponse) => {
          if (loginResponse.status === 200) {
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Logged in successfully. Redirecting...',
            });
            // store session data in localStorage
            localStorage.setItem('user_session', JSON.stringify(loginResponse.body));
            if (loginResponse.body.user.auth_level === 2) this.$router.push('/create-session');
            else if (localStorage.getItem('scrum_session_id')) {
              this.$router.push(`/poker-planning-view/${localStorage.getItem('scrum_session_id')}`);
            } else {
              this.$notify({
                group: 'general',
                type: 'info',
                title: 'info',
                text: 'Logged in but couldn\'t find related session for you. Please contact your scrum master and get session link.',
              });
            }
          }
        })
        .catch((e) => {
          if (e.body === 'WRONG_CREDENTIALS') {
            // create new user with current credentials if current username not exist
            this.$http.post(`${constants.apiAddr}/auth/register`, { username, password })
              .then((registerResponse) => {
                if (registerResponse.status === 200) {
                  this.$notify({
                    group: 'general',
                    type: 'success',
                    title: 'Success',
                    text: 'New account created successfully. Logging in...',
                  });
                  // login with new account credentials automatically
                  this.$http.post(`${constants.apiAddr}/auth/login`, { username, password })
                    .then((response) => {
                      if (response.status === 200) {
                        this.$notify({
                          group: 'general',
                          type: 'success',
                          title: 'Success',
                          text: 'Logged in successfully. Redirecting...',
                        });
                        // store session data in localStorage
                        localStorage.setItem('user_session', JSON.stringify(response.body));
                        if (localStorage.getItem('scrum_session_id')) {
                          this.$router.push(`/poker-planning-view/${localStorage.getItem('scrum_session_id')}`);
                        } else {
                          this.$notify({
                            group: 'general',
                            type: 'info',
                            title: 'info',
                            text: 'Logged in but couldn\'t find related session for you. Please contact your scrum master and get session link.',
                          });
                        }
                      }
                    });
                }
              })
              // warn user if this username already exist
              .catch((err) => {
                this.$notify({
                  group: 'general',
                  type: 'error',
                  title: 'Error',
                  text: err.body,
                });
              });
          } else {
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Error',
              text: e.body,
            });
          }
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mt-10 {
  margin-top: 10px;
}

.login-btn {
  width: 100%;
}
</style>
