<template>
  <div class="row">
    <notifications group="general"/>
    <div v-bind:class="{ 'col-md-4': master, 'col-md-8': !master || master && sessionCompleted}">
      <h5>Session Name <br>
        <strong>{{session.name}}</strong> <br>
      Story List</h5>
      <hr>
      <table width="100%">
        <thead><th>Name</th><th>Point</th><th>Status</th></thead>
        <tr v-bind:key="story._id" v-for="story in session.stories">
          <td>{{story.name}}</td><td>{{story.finalScore}}</td><td>{{story.status}}</td>
        </tr>
      </table>
    </div>
    <div v-if="sessionCompleted" class="col-md-4 tac">
      <img src="/static/checkmark.png"/>
      <h1>Sesssion Completed!</h1>
      <p>All stories voted.</p>
    </div>
    <div v-if="!sessionCompleted" class="col-md-4 tac">
      <h5>
        Active story is<br>
        <strong>{{session.stories[activeStoryIndex].name}}</strong><br>
        Please vote!
      </h5>
      <hr>
      <div class="row">
        <div v-on:click="vote(item)"
             v-bind:key="item.val"
             v-for="item in voteItems"
             class="col-md-3 vote-item"
             v-bind:class="{'active': item.selected}">
          {{item.val}}
        </div>
      </div>
    </div>
    <div v-if="master && !sessionCompleted" class="col-md-4">
      <div class="tar"><h5>
        Scrum Master Portal<br>
        <strong>{{session.stories[activeStoryIndex].name}}</strong><br>
        <span v-if="remainingVoteCount > 0">At least {{remainingVoteCount}} votes required</span>
        <span v-if="remainingVoteCount < 1">Reached required vote count</span>
      </h5>
      </div>
      <hr>
      <b-alert v-if="session.stories[activeStoryIndex].votes.length < 1" show variant="info"><strong>Very quiet</strong><br>Not voted any user yet. <br>Share link with your teammates.</b-alert>
      <table v-if="session.stories[activeStoryIndex].votes.length > 0" class="table table-striped" width="100%">
        <thead class="vote-table-header"><th>Voter</th><th>Vote</th></thead>
        <tr v-bind:key="vote._id" v-for="vote in session.stories[activeStoryIndex].votes">
          <td>{{vote.voter.username}}</td><td>{{vote.vote}}</td>
        </tr>
      </table>
      <br>
      <p v-show="remainingVoteCount < 1">
        Please discuss and finalize the score into below textbox.
      </p>
      <b-form-input v-show="remainingVoteCount < 1" v-model="finalScore"
                    type="number"
                    placeholder="Final Score"></b-form-input>
      <br>
      <b-button
        v-bind:disabled="remainingVoteCount > 0"
        class="end-voting-btn"
        v-on:click="endVoting"
      >
        End voting for {{session.stories[activeStoryIndex].name}}
      </b-button>

    </div>
    <div class="col-md-9">
      <br>
      <strong>Click to link for copy and share with your teammates</strong>
      <p v-clipboard:copy="sessionLink"
         v-clipboard:success="onCopy" class="session-link">http://trendyol.muuvio.com/poker-planning-view/{{$route.params.id}}</p>
    </div>
    <div class="col-md-3 tar">
      <br>
      <strong>{{userSession.user.username}}</strong><br>
      <a class="session-link" v-on:click="logOut">Log out</a>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import constants from '../constants';

export default {
  name: 'SessionView',
  created() {
    if (localStorage.getItem('user_session')) {
      this.userSession = JSON.parse(localStorage.getItem('user_session'));
      this.$http.get(`${constants.apiAddr}/sessions/${this.$route.params.id}`, { headers: { token: this.userSession.token.token } })
        .then((session) => {
          this.session = session.body;
          this.activeStoryIndex = session.body.activeStoryIndex;
        });
      this.master = this.userSession.user.auth_level === 2;
    } else {
      localStorage.setItem('scrum_session_id', this.$route.params.id);
      this.$router.push('/login');
    }
  },
  sockets: {
    increaseActiveStoryIndex: function() {
      this.activeStoryIndex++;
      this.$http.get(`${constants.apiAddr}/sessions/${this.$route.params.id}`, { headers: { token: this.userSession.token.token } })
        .then((session) => {
          this.session = session.body;
          this.voteItems.forEach((v) => {
            /* eslint-disable-next-line */
            v.selected = false;
          });
        });
      if (!this.sessionCompleted) {
        this.$notify({
          group: 'general',
          type: 'info',
          title: 'Next story',
          text: 'Story discuss completed you can see final score from table.'
        });
      } else {
        this.$notify({
          group: 'general',
          type: 'info',
          title: 'Session completed!',
          text: 'All stories completed. Thanks for join!'
        });
      }
    },
    updateVotes: function() {
      this.$http.get(`${constants.apiAddr}/sessions/${this.$route.params.id}`, { headers: { token: this.userSession.token.token } })
        .then((session) => {
          this.session = session.body;
        });
    }
  },
  data() {
    return {
      master: false,
      activeStoryIndex: 0,
      finalScore: 0,
      voteCompleted: false,
      session: {
        stories: [
          {
            name: 'dummy story',
            votes: [],
          },
        ],
      },
      userSesssion: {},
      voteItems: [
        { val: 1, selected: false },
        { val: 2, selected: false },
        { val: 3, selected: false },
        { val: 5, selected: false },
        { val: 8, selected: false },
        { val: 13, selected: false },
        { val: 21, selected: false },
        { val: 34, selected: false },
        { val: 55, selected: false },
        { val: 89, selected: false },
        { val: 134, selected: false },
      ],
    };
  },
  computed: {
    /* eslint-disable-next-line */
    remainingVoteCount: function () {
      return ((this.session.numberOfVoters + 1) - this.session.stories[this.activeStoryIndex].votes.length);
    },
    sessionCompleted: function() {
      return (this.activeStoryIndex === this.session.stories.length);
    },
    sessionLink: function() {
      return `http://trendyol.muuvio.com/#/poker-planning-view/${this.$route.params.id}`;
    }
  },
  methods: {
    vote(voteObj) {
      this.$http.post(`${constants.apiAddr}/sessions/${this.$route.params.id}/vote`,
        /* eslint-disable-next-line */
        { story: this.session.stories[this.activeStoryIndex]._id, vote: voteObj.val },
        { headers: { token: this.userSession.token.token },
        })
        .then((session) => {
          this.voteItems.forEach((v) => {
            /* eslint-disable-next-line */
            v.selected = false;
          });
          this.voteItems[this.voteItems.indexOf(voteObj)].selected = true;
          this.session = session.body;
          this.$socket.emit('vote');
          this.$notify({
            group: 'general',
            type: 'info',
            title: 'Voted',
            text: 'Your vote sent.'
          });
        });
    },
    endVoting() {
      if (this.finalScore > 0) {
        this.$http.post(`${constants.apiAddr}/sessions/${this.$route.params.id}/end-story`,
          { story: this.session.stories[this.activeStoryIndex]._id, finalScore: this.finalScore },
          { headers: { token: this.userSession.token.token },
          })
          .then((session) => {
            this.session = session.body;
            this.activeStoryIndex++;
            this.$socket.emit('increaseActiveStoryIndex');
          });
      } else {
        this.$notify({
          group: 'general',
          type: 'error',
          title: 'Error',
          text: 'Value must be greater than 0'
        });
      }
    },
    logOut() {
      localStorage.removeItem('user_session');
      this.$router.push('/login');
    },
    onCopy() {
      this.$notify({
        group: 'general',
        type: 'info',
        title: 'Copied',
        text: 'Link copied to clipboard.'
      });
    }
  },
};
</script>

<style scoped>
  .vote-item {
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  .vote-item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }
  .end-voting-btn {
    width: 100%;
    cursor: pointer;
  }
  .session-link {
    color: #000030;
    text-decoration: underline;
    cursor: pointer;
  }
  .active {
    background-color: #f7f7f7;
  }
  .tac {
    text-align: center;
  }
  .tar {
    text-align: right;
  }
  .description {
    font-size:11px;
  }
  .table th, .table td {
    border:none !important;
  }
</style>
