<template>
  <div class="container">
    <div class="row header">
      <div class="col-md-6 offset-md-3 ac">
        <img class="trendyol-logo" src="/static/trendyol_logo.png"/> <h1>Scrum Poker</h1>
      </div>
    </div>
    <hr>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.app-logo {
  margin-top: 30px;
}
.trendyol-logo {
  width: 150px;
  margin-top:50px;
}
.header {
  margin-bottom:20px;
}
.ac {
  text-align: center;
}
</style>
